<div class="col-md-8 offset-md-3">
    <h3>Update Jobs</h3>
<form (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label>Job Title</label>
        <input type="text" class="form-control" id="job_title" 
        [(ngModel)]="jobs.job_title" name="job_title">
    </div>
    <div class="form-group">
        <label>location</label>
        <input type="text" class="form-control" id="location" 
        [(ngModel)]="jobs.location" name="location">
    </div>
    <div class="form-group">
        <label>job_type</label>
        <input type="text" class="form-control" id="job_type" 
        [(ngModel)]="jobs.job_type" name="job_type">
    </div>
    <div class="form-group">
        <label>status</label>
        <input type="text" class="form-control" id="status" 
        [(ngModel)]="jobs.status" name="status">
    </div>
    <div class="form-group">
        <label>createdby</label>
        <input type="text" class="form-control" id="createdby" 
        [(ngModel)]="jobs.createdby" name="createdby">
    </div>  
    <div class="form-group">
        <label>updatedby</label>
        <input type="text" class="form-control" id="updatedby" 
        [(ngModel)]="jobs.updatedby" name="updatedby">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>




</form>
</div>
